<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Navigation Bar Plugin
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Navigation Bar Plugin</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        Navigation Bar Color: {{ currentColor ? currentColor : 'Not Seted Yet' }}
        <br/>
        <div *ngIf="currentStatus">Last Event Fired: {{ currentStatus }}</div>
        <ion-button (click)="openNavigationBar()">Show Navigation Bar</ion-button>
        <ion-button (click)="hideNavigationBar()">Hide Navigation Bar</ion-button>
        <ion-button (click)="changeNavigationBarColor()">Change Navigation Bar Color</ion-button>
    </div>
</ion-content>